
            .div {
              background-color: rgba(45, 34, 34, 0);
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 50px 0 26px;
              margin-left: 30px;
              margin-right: 100px;
            }
            .div-2 {
              align-self: stretch;
            }
            @media (max-width: 991px) {
              .div-2 {
                max-width: 100%;
                margin-right: 5px;
              }
            }
            .div-3 {
              gap: 20px;
              display: flex;
            }
            @media (max-width: 991px) {
              .div-3 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
              }
            }
            .column {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 33%;
              margin-left: 0px;
            }
            @media (max-width: 991px) {
              .column {
                width: 100%;
              }
            }
            .span {
              background-color: #fff;
              display: flex;
              flex-grow: 1;
              padding-bottom: 50px;
              flex-direction: column;
              width: 100%;
            }
            @media (max-width: 991px) {
              .span {
                max-width: 100%;
                margin-top: 40px;
              }
            }
            .img {
              aspect-ratio: 1.51;
              object-fit: contain;
              object-position: center;
              width: 100%;
              overflow: hidden;
            }
            @media (max-width: 991px) {
              .img {
                max-width: 100%;
              }
            }
            .div-4 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 37px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-4 {
                white-space: initial;
              }
            }
            .div-5 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              max-width: 379px;
              align-self: center;
              margin: 30px 0 6px;
              font: 400 20px/32px Inter, sans-serif;
            }
            .column-2 {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 33%;
              margin-left: 20px;
            }
            @media (max-width: 991px) {
              .column-2 {
                width: 100%;
              }
            }
            .span-2 {
              background-color: #fff;
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              width: 100%;
              padding: 1px 0 24px;
            }
            @media (max-width: 991px) {
              .span-2 {
                max-width: 100%;
                margin-top: 40px;
              }
            }
            .div-6 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 36px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-6 {
                white-space: initial;
              }
            }
            .div-7 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              align-self: center;
              margin-top: 30px;
              max-width: 395px;
              font: 400 20px/32px Inter, sans-serif;
            }
            .column-3 {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 33%;
              margin-left: 20px;
            }
            @media (max-width: 991px) {
              .column-3 {
                width: 100%;
              }
            }
            .span-3 {
              background-color: #fff;
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              width: 100%;
              padding: 1px 0 24px;
            }
            @media (max-width: 991px) {
              .span-3 {
                max-width: 100%;
                margin-top: 40px;
              }
            }
            .img-2 {
              aspect-ratio: 1.49;
              object-fit: contain;
              object-position: center;
              width: 100%;
              overflow: hidden;
            }
            @media (max-width: 991px) {
              .img-2 {
                max-width: 100%;
              }
            }
            .div-8 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 32px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-8 {
                white-space: initial;
              }
            }
            .div-9 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              align-self: center;
              margin-top: 25px;
              max-width: 404px;
              font: 400 20px/32px Inter, sans-serif;
            }
            .div-10 {
              align-self: stretch;
              margin-top: 55px;
            }
            @media (max-width: 991px) {
              .div-10 {
                max-width: 100%;
                margin: 40px 5px 0 0;
              }
            }
            .div-11 {
              gap: 20px;
              display: flex;
            }
            @media (max-width: 991px) {
              .div-11 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
              }
            }
            .span-4 {
              background-color: #fff;
              display: flex;
              flex-grow: 1;
              padding-bottom: 25px;
              flex-direction: column;
              width: 100%;
            }
            @media (max-width: 991px) {
              .span-4 {
                max-width: 100%;
                margin-top: 40px;
              }
            }
            .img-3 {
              aspect-ratio: 1.63;
              object-fit: contain;
              object-position: center;
              width: 100%;
              overflow: hidden;
              z-index: 1;
            }
            @media (max-width: 991px) {
              .img-3 {
                max-width: 100%;
              }
            }
            .div-12 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 21px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-12 {
                white-space: initial;
              }
            }
            .div-13 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              align-self: center;
              margin-top: 13px;
              max-width: 394px;
              font: 400 20px/32px Inter, sans-serif;
            }
            .column-4 {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 33%;
              margin-left: 20px;
            }
            @media (max-width: 991px) {
              .column-4 {
                width: 100%;
              }
            }
            .img-4 {
              aspect-ratio: 1.64;
              object-fit: contain;
              object-position: center;
              width: 100%;
              overflow: hidden;
            }
            @media (max-width: 991px) {
              .img-4 {
                max-width: 100%;
              }
            }
            .div-14 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 20px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-14 {
                white-space: initial;
              }
            }
            .div-15 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              align-self: center;
              margin-top: 22px;
              max-width: 383px;
              font: 400 20px/32px Inter, sans-serif;
            }
            .column-5 {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 33%;
              margin-left: 20px;
            }
            @media (max-width: 991px) {
              .column-5 {
                width: 100%;
              }
            }
            .img-5 {
              aspect-ratio: 1.64;
              object-fit: contain;
              object-position: center;
              width: 100%;
              overflow: hidden;
            }
            @media (max-width: 991px) {
              .img-5 {
                max-width: 100%;
              }
            }
            .div-16 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 20px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-16 {
                white-space: initial;
              }
            }
            .div-17 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              align-self: center;
              max-width: 396px;
              margin: 17px 0 69px;
              font: 400 20px/32px Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-17 {
                margin-bottom: 40px;
              }
            }
            .div-18 {
              margin-top: 38px;
              width: 947px;
              max-width: 100%;
            }
            .div-19 {
              gap: 20px;
              display: flex;
            }
            @media (max-width: 991px) {
              .div-19 {
                flex-direction: column;
                align-items: stretch;
                gap: 0px;
              }
            }
            .column-6 {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 50%;
              margin-left: 0px;
            }
            @media (max-width: 991px) {
              .column-6 {
                width: 100%;
              }
            }
            .span-5 {
              background-color: #fff;
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              width: 100%;
              padding: 0 20px 18px;
            }
            @media (max-width: 991px) {
              .span-5 {
                max-width: 100%;
                margin-top: 40px;
              }
            }
            .img-6 {
              aspect-ratio: 1.85;
              object-fit: contain;
              object-position: center;
              width: 100%;
              overflow: hidden;
              z-index: 1;
            }
            @media (max-width: 991px) {
              .img-6 {
                max-width: 100%;
              }
            }
            .div-20 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 21px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-20 {
                white-space: initial;
              }
            }
            .div-21 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              align-self: center;
              margin-top: 26px;
              max-width: 395px;
              font: 400 20px/32px Inter, sans-serif;
            }
            .column-7 {
              display: flex;
              flex-direction: column;
              line-height: normal;
              width: 50%;
              margin-left: 20px;
            }
            @media (max-width: 991px) {
              .column-7 {
                width: 100%;
              }
            }
            .span-6 {
              background-color: rgba(255, 255, 255, 1);
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              width: 100%;
              padding: 12px 28px 50px;
            }
            @media (max-width: 991px) {
              .span-6 {
                max-width: 100%;
                margin-top: 40px;
                padding: 0 20px;
              }
            }
            .img-7 {
              aspect-ratio: 0.98;
              object-fit: contain;
              object-position: center;
              width: 222px;
              overflow: hidden;
              align-self: center;
              max-width: 100%;
            }
            .div-22 {
              color: #000;
              letter-spacing: -0.46px;
              align-self: center;
              margin-top: 21px;
              white-space: nowrap;
              font: 500 24px/133% Inter, sans-serif;
            }
            @media (max-width: 991px) {
              .div-22 {
                white-space: initial;
              }
            }
            .div-23 {
              color: #000;
              text-align: center;
              letter-spacing: -0.38px;
              margin: 22px 0 4px;
              font: 400 20px/32px Inter, sans-serif;
            }
